@font-face
    font-family: 'jura' 
    src:  url('../fonts/jura-v8-latin-regular.woff2') format('woff2')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'jura-bold' 
    src:  url('../fonts/jura-v8-latin-700.woff2') format('woff2')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'volkhov' 
    src:  url('../fonts/volkhov-v8-latin-regular.woff2') format('woff2')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'volkhov-bold' 
    src:  url('../fonts/volkhov-v8-latin-700.woff2') format('woff2')
    font-weight: 700
    font-style: normal
